.pav-container {
    width: 100%;
    max-width: 350px;
    padding: 15px;
    margin: auto;
    background-color: white;
}

body {
    display: flex;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;

}